body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  #navbar {
    position: fixed;
    top: 5;
    width: 100%;
    background-color: #09b38e;
    z-index: 1000;
    transition: background-color 0.8s ease;
  }
  
  #navbar ul {
    list-style-type: none;
    margin: 5px;
    padding: 10px 0;
    text-align: center;
  }
  
  #navbar ul li {
    display: inline;
    margin: 0 10px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  .nav-link:hover {
    background-color: #555;
    border-radius: 5px;
  }
  